.income3{
  margin-left:40px;
}
.expense3{
  margin-left:40px;
}
.chart{
  height:400px;
  width:400px;
}
.chart2{
  height:440px;
  width:440px;
}
.chartContainer{
display:flex;
flex-direction: row;
justify-content: space-between;
}
